<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} KCALCULATOR {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

<!--Block with black bar on top of website-->
{% block header %}
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h3><a href="/admin" class="text-white">Admin Panel</a></h3>
          <h3><a href="/home/foodlist" class="text-white">Food List</a></h3>
          <h3><a href="/Login" class="text-white">Log In</a></h3>
          <h3><a href="/Register" class="text-white">Sign Up</a></h3>
          <p class="text-muted">Strona wykonana w technologii Django do celów edukacyjnych </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://github.com/Czarek98" class="text-white">My Github</a></li>
            <li><a href="https://www.linkedin.com/in/cezary-bohdanowicz-994772181/" class="text-white">My LinkedIN</a></li>
            <li><a href="mailto:cezary.bohdanowicz@gmail.com" class="text-white">cezary.bohdanowicz@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong><h1>KCALculator</h1></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
{% endblock %}

<!--Block with name and surname-->
<!--Block with progress bars for kcal-->
{% block kcalProgress %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Imię i nazwisko</h1>

        <p class="lead text-muted">
          Gdy kalorie będą poniżej np. 1800/2200
        </p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="lead text-muted">
          Gdy przekroczymy kalorie np. 2500/2200
        </p>
          <div class="progress">
              <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        <p>
          <a href="#" class="btn btn-primary my-2">Mój profil</a>
          <a href="#" class="btn btn-secondary my-2">Wyloguj</a>
        </p>

      </div>
        <style>
            .bg-success {
                background-color: #06c947!important;
            }
        </style>
    </div>
  </section>
{% endblock %}


<!--Block with content-->
{% block content %} {% endblock %}


<!--Block with footer-->
{% block footer %}
     <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
          <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
        </div>
      </footer>
{% endblock %}


<!--Block with scripts-->
{% block scripts %}

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

{% endblock %}

</body>
</html>